<div class="nk-breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="{{ path('home') }}">{{ 'homepage.title'|trans }}</a></li>
            {% block items %}{% endblock %}
        </ul>
    </div>
</div>