<h3>Réintialisation de votre mot de passe</h3>

Salutations {{ username }}!

Il semblerait que vous avez fait une demande de réintialisation de mot de passe.

Pour ce faire, merci de vous rendre sur cette page : <a href="{{ resetPasswordUrl }}">Réintialiser mon mot de passe</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('build/images/logo.svg')) }}">