{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="nk-main">
    <div class="nk-gap-4"></div>

    <div class="container">

        <div class="row">
            <div class="col-md-8 offset-md-2 pb-50">
                <h3>Merci de vous connecter pour accèder à cette page</h3>
            </div>
        </div>

    </div>

    <div class="nk-gap-4"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('login') }}
{% endblock %}
